:root {
    /* --brown: #312d2d; */
    --brown: #423f3e;
    /* --brown: #5E4B56;
    --brown: #11151C;
    --brown: #12263A; */
    --grey: #c6c7ce;
    /* --grey: #212D40; */
    --header-height: 5vh;
    --footer-height: 5vh;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: var(--brown);
}

h2 {
    font-size: 3rem;
    color: white;
}

h4,
p,
a,
span {
    font-family: 'OpenSauceSansRegular';
    font-weight: normal;
    font-style: normal;
}

section {
    width: 100vw;
}

.brown-button,
.white-button {
    border-radius: 30px;
    height: 4vh;
    width: 12vw;
    max-width: 200px;
    min-width: 150px;
}

.brown-button {
    background-color: var(--brown);
    color: white;
    font-weight: bold;
}

.white-button {
    background-color: white;
    color: var(--brown);
    font-weight: bold;
}