.header {
    height: var(--header-height);
    padding: 10px 20px;
    background-color: var(--brown);
    color: white;
    display: flex;
    align-items: center;
}

.logo-container {
    width: 20vw;
}

.header-right {
    color: white;
    width: 80vw;
    display: flex;
    justify-content: flex-end;
}

.header-right ul {
    display: flex;
    padding-left: 0;
    gap: 20px;
}

.header-right a {
    color: var(--brown);
    font-weight: bold;
}

.header-right li {
    background-color: white;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
}