:root {
    --inner-gap: 40px;
    --page-gap: calc(var(--inner-gap)* 2);
}

.homepage {
    background-color: var(--brown);
    width: 100vw;
    color: white;
}

.landing-page {
    height: calc(85vh - var(--header-height));
    width: 100vw;
    /* background-color: var(--grey); */
    padding-top: var(--page-gap);
}

.landing-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-right: 5vw;
    padding-bottom: 5vh;
    position: absolute;
    min-width: 1700px;
}

.landing-left {
    width: 60ch;
    display: flex;
    flex-direction: column;
    gap: var(--inner-gap);
    position: relative;
    bottom: 10vh;
    left: 5vw;
    z-index: 100;
}

.landing-left h1 {
    font-size: 5.1rem;
    line-height: 1.2;
}

.homepage h4 {
    font-size: 1.5rem;
    line-height: 1.1;
}

.button-container {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.landing-image-container {
    background-color: black;
    width: 1160px;
    min-width: 1160px;
    height: 840px;
    min-height: 840px;
}

.landing-image-container img {
    width: 100%;
    height: 100%;
    position: relative;
}

.homepage-info {
    padding: var(--page-gap) 5vw;
    display: flex;
    gap: var(--inner-gap);
    align-items: center;
}

.homepage-info-right {
    width: 60ch;
    display: flex;
    flex-direction: column;
    gap: var(--inner-gap);
    line-height: 1.1;
}

.homepage-features {
    padding: var(--page-gap) 0 var(--page-gap) 0;    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--page-gap);
}

.features-container {
    display: flex;
    gap: var(--inner-gap);
}

.feature {
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: var(--inner-gap);
}

.feature p {
    width: 30ch;
}

.homepage-info .landing-image-container {
    width: 960px;
    min-width: 960px;
    height: 640px;
    min-height: 640px;
}