.my-logs-page {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: var(--light-bgc);
    padding: var(--page-gap) 5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.my-logs-container {
    padding-top: var(--page-gap);
    display: flex;
    gap: var(--page-gap);
}

.user-logs {
    width: 75vw;
    display: flex;
    flex-direction: column;
    gap: var(--inner-gap);
}

.log {
    background-color: white;
    height: fit-content;
    border-radius: 4px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.log-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-details {
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px 5px 0 5px;
    gap: 5px;
}

.log-details span {
    padding-left: 10px;
}

.log-details button {
    border-radius: 4px;
}

.new-attack-box {
    height: 140px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--inner-gap);
}

.new-attack-box p {
    width: 18ch;
    text-align: center;
    color: white;
}

.view-more {
    width: fit-content;
    padding: 0 10px;
    border-radius: 30px;
}

.no-attacks {
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-attacks p {
    font-size: 1.1rem;
}