.sign-in-page {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: var(--light-bgc);
    padding: var(--page-gap) 5vw;
}

.sign-in-container {
    padding-top: var(--page-gap);
    display: flex;
    gap: var(--page-gap);
}

.sign-in-form-container {
    width: 70vw;
}

.sign-in-form,
.sign-in-form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.1rem;
}

.sign-in-form {
    width: 30vw;
    gap: 15px;
    color: white;
}

.sign-in-form input {
    border: none;
    color: black;
}

.register-box {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--inner-gap);
}

.register-box p {
    width: 20ch;
    text-align: center;
    color: white;
}